@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F9F8F5;
}

.navbar {
    background-color: #6576C9 !important;
}

.log-reg {
    border: 1px solid #FFF;
    color: #FFF !important;
    border-radius: 10px;
    text-align: center;
    margin: 0 5px;
}

.nav-link {
    color: #FFF !important;
}

.nav-link:hover {
    color: rgb(159, 161, 159)!important;
}

.offcanvas {
    background-color: #6576C9 !important;
}

.log-reg:hover {
    background-color: #D18E3C;
    color: #FFF !important;
}

.search {
    border: 2px solid rgb(143, 235, 157)!important;
    color: #FFF !important;
}

.map-container {
    width: 100%;
    height: 100%;
}